In [38]:
import pandas as pd
import numpy as np

### 파일 불러오기

In [39]:
metadata = pd.read_csv("data/META_관측지점정보.csv", engine='python')
metadata

,지점,시작일,종료일,지점명,지점주소,관리관서,위도,경도,노장해발고도(m),기압계(관측장비지상높이(m)),기온계(관측장비지상높이(m)),풍속계(관측장비지상높이(m)),강우계(관측장비지상높이(m))
0,90,1968-01-01,NaN,속초,강원도 고성군토성면 봉포5길9 속초자동기상관측소,속초기상대(90),38.2509,128.5647,17.53,18.73,1.7,10.0,1.4
1,93,2016-10-01,NaN,북춘천,강원도 춘천시신북읍 산천리264(장본1길 12) 춘천기상대,춘천기상대(101),37.9474,127.7544,95.78,96.78,1.5,10.0,1.4
2,95,1988-01-01,NaN,철원,강원도 철원군갈말읍 명성로179번길 26 철원자동기상관측소,춘천기상대(101),38.1479,127.3042,155.48,156.98,1.8,13.0,1.5
3,98,1998-02-01,NaN,동두천,경기도 동두천시방죽로 16-47동두천서비스센터,수도권기상청(119),37.9019,127.0607,115.62,116.74,1.7,10.0,1.0
4,99,2013-10-22,NaN,파주,경기도 파주시문산읍 마정로46-29(파주기상대),수도권기상청(119),37.8859,126.7665,30.59,31.99,1.7,10.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,285,1973-01-01,NaN,합천,경상남도 합천군합천읍 동서로164번 합천자동기상관측소,울산기상대(152),35.5651,128.1699,26.72,33.20,1.5,10.0,0.5
136,288,1973-01-01,NaN,밀양,경상남도 밀양시점필재로 5밀양자동기상관측소,울산기상대(152),35.4915,128.7441,8.31,12.50,2.0,10.0,1.3
137,289,1972-03-30,NaN,산청,경상남도 산청군산청읍 꽃봉산로133번길 3 산청관측소,창원기상대(155),35.4130,127.8791,138.22,138.80,1.6,10.0,0.6
138,294,1972-01-24,NaN,거제,경상남도 거제시장평2로 2길47 거제기상관측소,부산지방기상청(159),34.8882,128.6046,44.83,46.70,1.7,10.0,0.6
139,295,1972-01-24,NaN,남해,경상남도 남해군이동면 남해대로2423 남해자동기상관측소,부산지방기상청(159),34.8166,127.9264,45.71,47.01,1.8,10.0,0.8

In [40]:
data = pd.read_csv("data/OBS_ASOS_TIM_20210518140047.csv", engine='python', parse_dates=["일시"])
data

,지점,지점명,일시,기온(°C),강수량(mm),습도(%),현지기압(hPa),전운량(10분위)
0,90,속초,2021-05-16 00:00:00,15.6,0.2,96.0,1003.8,10.0
1,90,속초,2021-05-16 01:00:00,15.5,0.5,96.0,1003.6,10.0
2,90,속초,2021-05-16 02:00:00,15.2,0.2,97.0,1003.5,10.0
3,90,속초,2021-05-16 03:00:00,14.9,0.2,97.0,1003.7,10.0
4,90,속초,2021-05-16 04:00:00,14.8,0.2,97.0,1003.5,10.0
...,...,...,...,...,...,...,...,...
4555,295,남해,2021-05-17 19:00:00,16.9,NaN,96.0,1002.4,9.0
4556,295,남해,2021-05-17 20:00:00,16.9,NaN,96.0,1002.7,5.0
4557,295,남해,2021-05-17 21:00:00,16.8,NaN,97.0,1003.2,10.0
4558,295,남해,2021-05-17 22:00:00,16.6,NaN,97.0,1004.1,9.0
4559,295,남해,2021-05-17 23:00:00,16.7,NaN,98.0,1004.1,9.0

### metadata 결측치 제거

In [41]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   지점                140 non-null    int64
 1   시작일               140 non-null    object
 2   종료일               45 non-null     object
 3   지점명               140 non-null    object
 4   지점주소              133 non-null    object
 5   관리관서              125 non-null    object
 6   위도                140 non-null    float64
 7   경도                140 non-null    float64
 8   노장해발고도(m)         140 non-null    float64
 9   기압계(관측장비지상높이(m))  138 non-null    float64
 10  기온계(관측장비지상높이(m))  138 non-null    float64
 11  풍속계(관측장비지상높이(m))  139 non-null    float64
 12  강우계(관측장비지상높이(m))  138 non-null    float64
dtypes: float64(7), int64(1), object(5)
memory usage: 14.3+ KB

In [42]:
metadata = metadata[metadata["종료일"].isnull()]

### metadata 지역 컬럼 생성

In [43]:
metadata["지역"] = metadata.loc[:, '지점주소'].str[:2]

<ipython-input-43-fdad22a1f09c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata["지역"] = metadata.loc[:, '지점주소'].str[:2]

In [44]:
metadata

,지점,시작일,종료일,지점명,지점주소,관리관서,위도,경도,노장해발고도(m),기압계(관측장비지상높이(m)),기온계(관측장비지상높이(m)),풍속계(관측장비지상높이(m)),강우계(관측장비지상높이(m)),지역
0,90,1968-01-01,NaN,속초,강원도 고성군토성면 봉포5길9 속초자동기상관측소,속초기상대(90),38.2509,128.5647,17.53,18.73,1.7,10.0,1.4,강원
1,93,2016-10-01,NaN,북춘천,강원도 춘천시신북읍 산천리264(장본1길 12) 춘천기상대,춘천기상대(101),37.9474,127.7544,95.78,96.78,1.5,10.0,1.4,강원
2,95,1988-01-01,NaN,철원,강원도 철원군갈말읍 명성로179번길 26 철원자동기상관측소,춘천기상대(101),38.1479,127.3042,155.48,156.98,1.8,13.0,1.5,강원
3,98,1998-02-01,NaN,동두천,경기도 동두천시방죽로 16-47동두천서비스센터,수도권기상청(119),37.9019,127.0607,115.62,116.74,1.7,10.0,1.0,경기
4,99,2013-10-22,NaN,파주,경기도 파주시문산읍 마정로46-29(파주기상대),수도권기상청(119),37.8859,126.7665,30.59,31.99,1.7,10.0,1.0,경기
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,285,1973-01-01,NaN,합천,경상남도 합천군합천읍 동서로164번 합천자동기상관측소,울산기상대(152),35.5651,128.1699,26.72,33.20,1.5,10.0,0.5,경상
136,288,1973-01-01,NaN,밀양,경상남도 밀양시점필재로 5밀양자동기상관측소,울산기상대(152),35.4915,128.7441,8.31,12.50,2.0,10.0,1.3,경상
137,289,1972-03-30,NaN,산청,경상남도 산청군산청읍 꽃봉산로133번길 3 산청관측소,창원기상대(155),35.4130,127.8791,138.22,138.80,1.6,10.0,0.6,경상
138,294,1972-01-24,NaN,거제,경상남도 거제시장평2로 2길47 거제기상관측소,부산지방기상청(159),34.8882,128.6046,44.83,46.70,1.7,10.0,0.6,경상
139,295,1972-01-24,NaN,남해,경상남도 남해군이동면 남해대로2423 남해자동기상관측소,부산지방기상청(159),34.8166,127.9264,45.71,47.01,1.8,10.0,0.8,경상

In [45]:
pd.date_range('2021-05-16', '2021-05-17', freq='h')[:-1].shape[0] * data['지점명'].unique().shape[0]

2280

###  metadata 와 날씨 데이터 merge

In [46]:
weather_data = data.merge(metadata[["지점","지역"]], how="inner", left_on="지점", right_on="지점")

In [47]:
weather_data

,지점,지점명,일시,기온(°C),강수량(mm),습도(%),현지기압(hPa),전운량(10분위),지역
0,90,속초,2021-05-16 00:00:00,15.6,0.2,96.0,1003.8,10.0,강원
1,90,속초,2021-05-16 01:00:00,15.5,0.5,96.0,1003.6,10.0,강원
2,90,속초,2021-05-16 02:00:00,15.2,0.2,97.0,1003.5,10.0,강원
3,90,속초,2021-05-16 03:00:00,14.9,0.2,97.0,1003.7,10.0,강원
4,90,속초,2021-05-16 04:00:00,14.8,0.2,97.0,1003.5,10.0,강원
...,...,...,...,...,...,...,...,...,...
4555,295,남해,2021-05-17 19:00:00,16.9,NaN,96.0,1002.4,9.0,경상
4556,295,남해,2021-05-17 20:00:00,16.9,NaN,96.0,1002.7,5.0,경상
4557,295,남해,2021-05-17 21:00:00,16.8,NaN,97.0,1003.2,10.0,경상
4558,295,남해,2021-05-17 22:00:00,16.6,NaN,97.0,1004.1,9.0,경상
4559,295,남해,2021-05-17 23:00:00,16.7,NaN,98.0,1004.1,9.0,경상

### 날씨 데이터의 지역 컬럼을 설문 데이터의 지역 컬럼 동일화

In [48]:
weather_data["지역"] = np.where(weather_data["지역"]=="경상", '경상도',weather_data["지역"])
weather_data["지역"] = np.where(weather_data["지역"]=="부산", '경상도',weather_data["지역"])
weather_data["지역"] = np.where(weather_data["지역"]=="울산", '경상도',weather_data["지역"])
weather_data["지역"] = np.where(weather_data["지역"]=="대구", '경상도',weather_data["지역"])
weather_data["지역"] = np.where(weather_data["지역"]=="강원", '강원도',weather_data["지역"])
weather_data["지역"] = np.where(weather_data["지역"]=="전라", '전라도',weather_data["지역"])
weather_data["지역"] = np.where(weather_data["지역"]=="광주", '전라도',weather_data["지역"])
weather_data["지역"] = np.where(weather_data["지역"]=="인천", '수도권 (경기, 인천)',weather_data["지역"])
weather_data["지역"] = np.where(weather_data["지역"]=="경기", '수도권 (경기, 인천)',weather_data["지역"])
weather_data["지역"] = np.where(weather_data["지역"]=="세종", '충청도',weather_data["지역"])
weather_data["지역"] = np.where(weather_data["지역"]=="충청", '충청도',weather_data["지역"])
weather_data["지역"] = np.where(weather_data["지역"]=="대전", '충청도',weather_data["지역"])
weather_data["지역"] = np.where(weather_data["지역"]=="제주", '제주도',weather_data["지역"])

In [49]:
weather_data

,지점,지점명,일시,기온(°C),강수량(mm),습도(%),현지기압(hPa),전운량(10분위),지역
0,90,속초,2021-05-16 00:00:00,15.6,0.2,96.0,1003.8,10.0,강원도
1,90,속초,2021-05-16 01:00:00,15.5,0.5,96.0,1003.6,10.0,강원도
2,90,속초,2021-05-16 02:00:00,15.2,0.2,97.0,1003.5,10.0,강원도
3,90,속초,2021-05-16 03:00:00,14.9,0.2,97.0,1003.7,10.0,강원도
4,90,속초,2021-05-16 04:00:00,14.8,0.2,97.0,1003.5,10.0,강원도
...,...,...,...,...,...,...,...,...,...
4555,295,남해,2021-05-17 19:00:00,16.9,NaN,96.0,1002.4,9.0,경상도
4556,295,남해,2021-05-17 20:00:00,16.9,NaN,96.0,1002.7,5.0,경상도
4557,295,남해,2021-05-17 21:00:00,16.8,NaN,97.0,1003.2,10.0,경상도
4558,295,남해,2021-05-17 22:00:00,16.6,NaN,97.0,1004.1,9.0,경상도
4559,295,남해,2021-05-17 23:00:00,16.7,NaN,98.0,1004.1,9.0,경상도

### 날씨 데이터를 지역, 일시를 기준으로 weather_mean생성

In [50]:
weather_mean = weather_data.groupby(["지역","일시"]).mean().reset_index()
weather_mean

,지역,일시,지점,기온(°C),강수량(mm),습도(%),현지기압(hPa),전운량(10분위)
0,강원도,2021-05-16 00:00:00,134.642857,18.400000,1.250000,96.857143,980.978571,8.769231
1,강원도,2021-05-16 01:00:00,134.642857,18.292857,0.371429,96.928571,980.564286,8.769231
2,강원도,2021-05-16 02:00:00,134.642857,18.214286,0.271429,97.142857,980.207143,9.538462
3,강원도,2021-05-16 03:00:00,134.642857,18.185714,0.188889,97.142857,979.807143,10.000000
4,강원도,2021-05-16 04:00:00,134.642857,17.985714,2.161538,97.142857,979.407143,10.000000
...,...,...,...,...,...,...,...,...
331,충청도,2021-05-17 19:00:00,189.153846,15.853846,0.000000,90.461538,996.230769,9.538462
332,충청도,2021-05-17 20:00:00,189.153846,15.569231,0.175000,91.538462,997.230769,9.769231
333,충청도,2021-05-17 21:00:00,189.153846,15.323077,0.050000,91.615385,998.038462,8.538462
334,충청도,2021-05-17 22:00:00,189.153846,14.969231,0.083333,93.692308,998.153846,7.153846
335,충청도,2021-05-17 23:00:00,189.153846,14.769231,0.133333,95.000000,998.130769,8.076923

### weather data 결측치 제거

In [51]:
# 결측치 확인
weather_mean.isnull().sum()

지역            0
일시            0
지점            0
기온(°C)        0
강수량(mm)      33
습도(%)         0
현지기압(hPa)     0
전운량(10분위)     0
dtype: int64

In [52]:
# 결측값 0으로 변경
weather_mean = weather_mean.fillna(0)

In [53]:
# 전운량을 int타입으로 변경
weather_mean['전운량(10분위)'] = weather_mean['전운량(10분위)'].astype('int')

### 시계열데이터  년-월-일-시로 변경

In [54]:
# 소수점 첫째자리까지 반올림
weather_mean.iloc[:, 3:-1] = round(weather_mean.iloc[:, 3:-1], 1)
weather_mean.iloc[:, -1:] = round(weather_mean.iloc[:, -1:])

In [55]:
weather_mean.head(3)

,지역,일시,지점,기온(°C),강수량(mm),습도(%),현지기압(hPa),전운량(10분위)
0,강원도,2021-05-16 00:00:00,134.642857,18.4,1.2,96.9,981.0,8
1,강원도,2021-05-16 01:00:00,134.642857,18.3,0.4,96.9,980.6,8
2,강원도,2021-05-16 02:00:00,134.642857,18.2,0.3,97.1,980.2,9

In [56]:
weather_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지역         336 non-null    object
 1   일시         336 non-null    datetime64[ns]
 2   지점         336 non-null    float64
 3   기온(°C)     336 non-null    float64
 4   강수량(mm)    336 non-null    float64
 5   습도(%)      336 non-null    float64
 6   현지기압(hPa)  336 non-null    float64
 7   전운량(10분위)  336 non-null    int32
dtypes: datetime64[ns](1), float64(5), int32(1), object(1)
memory usage: 19.8+ KB

In [57]:
# 지점 삭제
weather_mean = weather_mean.drop(['지점'], axis=1)

In [58]:
weather_mean.head(3)

    지역                  일시  기온(°C)  강수량(mm)  습도(%)  현지기압(hPa)  전운량(10분위)
0  강원도 2021-05-16 00:00:00    18.4      1.2   96.9      981.0          8
1  강원도 2021-05-16 01:00:00    18.3      0.4   96.9      980.6          8
2  강원도 2021-05-16 02:00:00    18.2      0.3   97.1      980.2          9

In [59]:
# 날짜
weather_mean['일시'] = pd.to_datetime(weather_mean['일시'])

In [60]:
weather_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지역         336 non-null    object
 1   일시         336 non-null    datetime64[ns]
 2   기온(°C)     336 non-null    float64
 3   강수량(mm)    336 non-null    float64
 4   습도(%)      336 non-null    float64
 5   현지기압(hPa)  336 non-null    float64
 6   전운량(10분위)  336 non-null    int32
dtypes: datetime64[ns](1), float64(4), int32(1), object(1)
memory usage: 17.2+ KB

In [61]:
weather_mean["일시"] = weather_mean["일시"].dt.strftime('%Y-%m-%d-%H')

In [62]:
# weather_mean['날짜'] = weather_mean['일시'].dt.strftime('%Y-%m-%d')
# weather_mean['시간'] = weather_mean['일시'].dt.strftime('%H')

In [63]:
weather_mean

      지역             일시  기온(°C)  강수량(mm)  습도(%)  현지기압(hPa)  전운량(10분위)
0    강원도  2021-05-16-00    18.4      1.2   96.9      981.0          8
1    강원도  2021-05-16-01    18.3      0.4   96.9      980.6          8
2    강원도  2021-05-16-02    18.2      0.3   97.1      980.2          9
3    강원도  2021-05-16-03    18.2      0.2   97.1      979.8         10
4    강원도  2021-05-16-04    18.0      2.2   97.1      979.4         10
..   ...            ...     ...      ...    ...        ...        ...
331  충청도  2021-05-17-19    15.9      0.0   90.5      996.2          9
332  충청도  2021-05-17-20    15.6      0.2   91.5      997.2          9
333  충청도  2021-05-17-21    15.3      0.0   91.6      998.0          8
334  충청도  2021-05-17-22    15.0      0.1   93.7      998.2          7
335  충청도  2021-05-17-23    14.8      0.1   95.0      998.1          8

[336 rows x 7 columns]

###  설문 데이터와 merge

In [64]:
weather_mean.to_csv('data/test_weather.csv', encoding='utf-8')

In [65]:
test_data = pd.read_excel("data/test_kiosk.xlsx", parse_dates=["타임스탬프"])

In [66]:
test_data.head(3)

,타임스탬프,귀하의 성별은 무엇입니까?,귀하의 연령대는 무엇입니까?,귀하의 거주 지역은 어디입니까?,오늘 기분은 어떠십니까?,1순위 음식 분야,2순위 음식 분야,3순위 음식 분류,1_한식,2_한식,...,3_분식,1_양식,2_양식,3_양식,1_일식,2_일식,3_일식,1_중식,2_중식,3_중식
0,2021-05-16 14:44:29.050,남자,청년 (만 19세~만 34세 이하),"수도권 (경기, 인천)",행복하다 · 즐겁다 · 신난다,한식,일식,중식,"불고기, 김치찌개",NaN,...,NaN,NaN,NaN,NaN,NaN,"돈가스, 초밥",NaN,NaN,NaN,짬뽕
1,2021-05-16 15:41:43.497,여자,중장년 (만 35세~만 64세 이하),서울,화가 난다 · 짜증난다,한식,중식,일식,불고기,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,메밀소바,NaN,볶음밥,NaN
2,2021-05-16 15:44:12.635,남자,청년 (만 19세~만 34세 이하),서울,아무 생각 없다,일식,양식,한식,NaN,NaN,...,NaN,NaN,스테이크,NaN,"돈가스, 메밀소바",NaN,NaN,NaN,NaN,NaN

In [67]:
test_data["타임스탬프"] = test_data["타임스탬프"].dt.strftime('%Y-%m-%d-%H')

In [68]:
test_data.head(3)

,타임스탬프,귀하의 성별은 무엇입니까?,귀하의 연령대는 무엇입니까?,귀하의 거주 지역은 어디입니까?,오늘 기분은 어떠십니까?,1순위 음식 분야,2순위 음식 분야,3순위 음식 분류,1_한식,2_한식,...,3_분식,1_양식,2_양식,3_양식,1_일식,2_일식,3_일식,1_중식,2_중식,3_중식
0,2021-05-16-14,남자,청년 (만 19세~만 34세 이하),"수도권 (경기, 인천)",행복하다 · 즐겁다 · 신난다,한식,일식,중식,"불고기, 김치찌개",NaN,...,NaN,NaN,NaN,NaN,NaN,"돈가스, 초밥",NaN,NaN,NaN,짬뽕
1,2021-05-16-15,여자,중장년 (만 35세~만 64세 이하),서울,화가 난다 · 짜증난다,한식,중식,일식,불고기,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,메밀소바,NaN,볶음밥,NaN
2,2021-05-16-15,남자,청년 (만 19세~만 34세 이하),서울,아무 생각 없다,일식,양식,한식,NaN,NaN,...,NaN,NaN,스테이크,NaN,"돈가스, 메밀소바",NaN,NaN,NaN,NaN,NaN

In [69]:
test_data["귀하의 거주 지역은 어디입니까?"].value_counts()

경상도             110
서울               26
수도권 (경기, 인천)     12
충청도               3
Name: 귀하의 거주 지역은 어디입니까?, dtype: int64

In [70]:
result_data = pd.merge(test_data, weather_mean,
                       left_on=['타임스탬프', '귀하의 거주 지역은 어디입니까?'],
                       right_on=['일시', '지역'],
                       how='inner')

In [71]:
result_data = result_data.drop(['지역', '일시'], axis=1)

In [72]:
result_data

,타임스탬프,귀하의 성별은 무엇입니까?,귀하의 연령대는 무엇입니까?,귀하의 거주 지역은 어디입니까?,오늘 기분은 어떠십니까?,1순위 음식 분야,2순위 음식 분야,3순위 음식 분류,1_한식,2_한식,...,2_일식,3_일식,1_중식,2_중식,3_중식,기온(°C),강수량(mm),습도(%),현지기압(hPa),전운량(10분위)
0,2021-05-16-14,남자,청년 (만 19세~만 34세 이하),"수도권 (경기, 인천)",행복하다 · 즐겁다 · 신난다,한식,일식,중식,"불고기, 김치찌개",NaN,...,"돈가스, 초밥",NaN,NaN,NaN,짬뽕,17.5,1.6,99.1,993.6,10
1,2021-05-16-15,여자,중장년 (만 35세~만 64세 이하),서울,화가 난다 · 짜증난다,한식,중식,일식,불고기,NaN,...,NaN,메밀소바,NaN,볶음밥,NaN,18.5,1.4,97.0,989.6,10
2,2021-05-16-15,남자,청년 (만 19세~만 34세 이하),서울,아무 생각 없다,일식,양식,한식,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.5,1.4,97.0,989.6,10
3,2021-05-16-15,여자,청년 (만 19세~만 34세 이하),서울,행복하다 · 즐겁다 · 신난다,일식,한식,분식,NaN,비빔밥,...,NaN,NaN,NaN,NaN,NaN,18.5,1.4,97.0,989.6,10
4,2021-05-16-16,남자,청년 (만 19세~만 34세 이하),경상도,행복하다 · 즐겁다 · 신난다,양식,일식,분식,NaN,NaN,...,"돈가스, 초밥",NaN,NaN,NaN,NaN,20.6,2.6,94.7,990.5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,2021-05-16-23,남자,청년 (만 19세~만 34세 이하),충청도,행복하다 · 즐겁다 · 신난다,한식,양식,일식,"비빔밥, 된장찌개",NaN,...,NaN,"초밥, 메밀소바",NaN,NaN,NaN,17.1,0.4,96.0,990.2,8
147,2021-05-17-02,여자,청년 (만 19세~만 34세 이하),경상도,아무 생각 없다,한식,일식,양식,"비빔밥, 불고기",NaN,...,우동,NaN,NaN,NaN,NaN,16.7,0.5,95.6,992.6,8
148,2021-05-17-07,남자,청소년 (~만 19세 미만),경상도,행복하다 · 즐겁다 · 신난다,분식,한식,양식,NaN,김치찌개,...,NaN,NaN,NaN,NaN,NaN,15.9,0.2,95.4,994.5,8
149,2021-05-17-07,남자,청소년 (~만 19세 미만),경상도,아무 생각 없다,중식,양식,한식,NaN,NaN,...,NaN,NaN,짜장면,NaN,NaN,15.9,0.2,95.4,994.5,8
150,2021-05-17-07,여자,청년 (만 19세~만 34세 이하),경상도,우울하다 · 피곤하다 · 힘들다,한식,일식,양식,"비빔밥, 불고기, 된장찌개",NaN,...,"초밥, 메밀소바",NaN,NaN,NaN,NaN,15.9,0.2,95.4,994.5,8

### 최종 dataset 저장

In [73]:
result_data.to_excel("data/data_weather.xlsx", index=False)